# Drupal environment settings
# (for use with Dockerized web and database servers)
MYSQL_HOST=mysql
MYSQL_DATABASE=drupal9gcc
MYSQL_USER=gccsqluser
MYSQL_PASSWORD=Seattle2022
MYSQL_RANDOM_ROOT_PASSWORD=yes
GCC_MYSQL_ROOT_PASSWORD=hfWEb91mYfwsVATI1DPzljCRpn0jVPBi
GCC_DRUPAL_PORT=8999
GCC_MYSQL_PORT=3306